#Latex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.log
*.out
*.run.xml
*.synctex.gz
*.report.synctex.gz(busy)
*.toc
*.fuse*
report.pdf
report-blx.bib

#Sublime Text
*.sublime*
*.orig

#Compilation Folders
release
src/bin
src/SamplePluginPA10/src/libs

#Eclipse
src/MarkerColor/.project 
src/MarkerColor/.cproject 
*~

#Merge
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*

#Data
/data/